@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* *{
  color: var(--text_color);
  background: var(--background_color);
} */
*{
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: black;
}

#aboutusbig:hover{
  
  object-fit: cover;
  border: 1px red solid;
  cursor: pointer;
}